@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1E1E1E;
  --text-main: rgba(255, 255, 255, 0.75);
  --text-medium: rgba(255, 255, 255, 0.5);
  --text-light: rgba(255, 255, 255, 0.25);
  --text-ultralight: rgba(255, 255, 255, 0.15);
  --primary: 67, 87, 236;
}

body {
  color: var(--text-medium);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Custom Elements */
.styled-input {
  border-radius: 2px;
  padding: 5px 10px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  font-size: 14px;
}

.styled-button {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(var(--primary));
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(var(--primary));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--primary), .5);
}

/* Keyframes for sliding in */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-entry {
  animation: slideInFromTop 0.3s ease-out forwards;
}

/* Smooth transition for the card list container */
.card-list {
  transition: transform 0.3s ease-out;
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.text-fadein {
  animation: textFadeIn 0.25s ease-in forwards;
}

@keyframes slideFromStack {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-entry {
  animation: slideFromStack 0.3s ease-out forwards;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0) rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) rotate(-25deg) scale(0.8);
    opacity: 0;
  }
}

@keyframes moveTopLeft {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) rotate(-25deg) scale(0.8);
    opacity: 0;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0) rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(-75%) rotate(-5deg) scale(0.8);
    opacity: 0;
  }
}

@keyframes moveTopRight {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(50%, -50%) rotate(25deg) scale(0.8);
    opacity: 0;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0) rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(75%) rotate(25deg) scale(0.8);
    opacity: 0;
  }
}

.answered-1 {
  animation: moveLeft 1s ease-in-out forwards;
}

.answered-2 {
  animation: moveTopLeft 1s ease-in-out forwards;
}

.answered-3 {
  animation: moveUp 1s ease-in-out forwards;
}

.answered-4 {
  animation: moveTopRight 1s ease-in-out forwards;
}

.answered-5 {
  animation: moveRight 1s ease-in-out forwards;
}

@keyframes toast-animation {
  0% {
    transform: translateY(-100%) scale(0.8);
    opacity: 0;
  }

  25% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(0%) scale(1);
    opacity: 0;
  }
}

.toast-animation {
  animation: toast-animation 1s ease-in-out forwards;
}