@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e2e;
  --text-main: rgba(255, 255, 255, 0.75);
  --text-medium: rgba(255, 255, 255, 0.5);
  --text-light: rgba(255, 255, 255, 0.25);
  --text-ultralight: rgba(255, 255, 255, 0.15);
  --primary: 67, 87, 236;
}

body {
  color: var(--text-medium);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/*                 */
/* Custom Elements */
/*                 */
.styled-input {
  border-radius: 2px;
  padding: 5px 10px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  font-size: 14px;
}

.styled-button {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(var(--primary));
  font-weight: 600;
}